%p
  - current_filter = Setting.plugin_send_notification && Setting.plugin_send_notification.fetch('issue_status_confirmed_id', 0)
  %label{for: 'settings_issue_status_confirmed_id]'}= t('label_issue_status_confirmed')
  = select_tag 'settings[issue_status_confirmed_id]', options_from_collection_for_select(IssueStatus.sorted.to_a, 'id', 'name', current_filter)
%p
  - current_filter = Setting.plugin_send_notification && Setting.plugin_send_notification.fetch('issue_status_completed_id', 0)
  %label{for: 'settings_issue_status_completed_id'}= t('label_issue_status_completed')
  = select_tag 'settings[issue_status_completed_id]', options_from_collection_for_select(IssueStatus.sorted.to_a, 'id', 'name', current_filter)
%p
  - current_filter = Setting.plugin_send_notification && Setting.plugin_send_notification.fetch('issue_status_in_work_id', 0)
  %label{for: 'settings_issue_status_in_work_id'}= t('label_issue_status_in_work')
  = select_tag 'settings[issue_status_in_work_id]', options_from_collection_for_select(IssueStatus.sorted.to_a, 'id', 'name', current_filter)
%p
  - current_filter = Setting.plugin_send_notification && Setting.plugin_send_notification.fetch('issue_status_in_stop_id', 0)
  %label{for: 'settings_issue_status_in_stop_id'}= t('label_issue_status_in_stop')
  = select_tag 'settings[issue_status_in_stop_id]', options_from_collection_for_select(IssueStatus.sorted.to_a, 'id', 'name', current_filter)
